/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Center the form container */
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  background-color: #f0f4f8;
}

/* Form container styling */
#form {
  width: 100%;
  max-width: 480px;
  padding: 40px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Title */
h2 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
  font-weight: 500;
}

/* Form group styling */
.form-group {
  display: grid;
  grid-template-columns: 150px 1fr; /* Increased label width to 150px */
  margin-bottom: 20px;
  align-items: center; /* Vertically align the label and input */
}

/* Label styling */
label {
  font-size: 15px;
  color: #34495e;
  margin-right: 20px;
  text-align: left;
}

/* Input fields styling */
input[type="text"],
input[type="password"],input[type="number"]
{
  width: 100%;
  padding: 14px;
  font-size: 16px;
  color: #2c3e50;
  background-color: #eaf6f2;
  border: 1px solid #d1e7e3;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus
input[type="number"]:focus  {
  border-color: #27ae60;
  outline: none;
}

/* Error message styling */
div[style="color: red"] {
  color: #e74c3c;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

/* Button styling */
button {
  padding: 14px 30px;
  font-size: 16px;
  color: #fff;
  background-color: #4caf50; /* Green color */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 48%;
  margin: 5px;
}

button:hover {
  background-color: #2ecc71;
}

/* Cancel button styling */
button[style="margin-left: 10px"] {
  background-color: #95a5a6;
}

button[style="margin-left: 10px"]:hover {
  background-color: #7f8c8d;
}

/* Button container */
.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

/* Centering the form */
center {
  display: block;
}
